.myagep{
  width:360px;
  height:60px;
}
.search-text-field{
  margin-top:8px!important;
  padding-right:24px!important;
  max-width:350px;
}

.epfl-bg-color{
  background-color: #c61618!important;
}

.cursor-pointer{
  cursor : pointer;
}
.agep-bg-color{
  background-color: #7595af!important;
}

.epfl-txt-color{
  color:#c61618!important;
}

.myjob-alert{
  position:fixed;
  top:28px;
  left:10%;
  width:80%;
}
.adopte-etudiant-card{
  height:412px;
}

.container{
  background-color: white;
}
@media screen and (max-width: 1264px) {
  .adopte-etudiant-card{
    height:auto;
  }
}
.white-text{
  color:white!important;
}
.v-card{
  border-radius:0px;
}
