.myagep{
  width:360px;
  height:60px;
}
.search-text-field{
  margin-top:8px!important;
  padding-right:24px!important;
  max-width:350px;
}
.sub-navbar{
  background-color: #c61618!important;
}

.epfl-bg-color{
  background-color: #c61618!important;
}

.agep-bg-color{
  background-color: #69ABD6!important;
}

.epfl-txt-color{
  color:#c61618!important;
}

.adopte-etudiant-card{
  height:412px;
}

@media screen and (max-width: 1264px) {
  .adopte-etudiant-card{
    height:auto;
  }
}
