.myagep{
  margin-top:2px;
  width:360px;
  height:60px;
}
.search-text-field{
  margin-top:8px!important;
  padding-right:24px!important;
  max-width:350px;
}
.sub-navbar{
  background-color: #c61618!important;
}
